table, td, th {
	border: 1px solid black;
	border-collapse: collapse;
}

td, th{
	padding: 5px;
}

.book{
	display: inline-block;
	width: 180px;
	padding: 10px 0;

}

.book__picture img {
	height: 200px;
}

.book__picture{
	text-align: center;
	margin-top: 10px;
}

.book__author{
	text-align: center;
	font-size: 12px;
}

.book__title{
	text-align: center;
	color: #5d98c5;
	font-size: 12px;
}

.book__price{
	text-align: center;
	font-size: 12px;
}

.book__discount{
	text-align: center;
	font-size: 12px;
	color: #8c2470;
}

.book__buy{
	text-align: center;
	margin: 10px 0;
}

.book__buy a{
	border: 1px solid #5d98c5;
	border-radius: 2px;
	background: #5d98c5;
	padding: 5px 60px;
	font-size: 12px;
	color: #fff;
	text-decoration: none;
}

.book_selected{
	background: #a5c1d7;
}