
table, td, th {
	border: 1px dotted gray;
	border-collapse: collapse;

}

td, th {
	padding: 5px;
	text-align: center;
}

.summary_table {
	margin: 20px auto;
}

.book {
	width: 180px;
	padding: 10px 0;
	box-sizing: border-box;
	border: 1px solid #d2d2d2;
	border-radius: 3px;
}

.book:hover {
	border: 1px solid #26a9e0;
	border-radius: 3px;
	
}

.book__picture img {
	display: inline-block;
	height: 200px;
}

.book__picture {
	text-align: center;
	margin-top: 10px;
}

.book__author {
	text-align: center;
	font-size: 14px;
	height: 15px;
}

.book__title {
	margin: 5px auto;
	height: 45px;
	width: 160px;
	text-align: center;
	color: #333333;
	font-size: 13px;
	overflow: hidden;
}

.book__price {
	text-align: center;
	font-size: 14px;
}

.book__discount {
	text-align: center;
	font-size: 14px;
	color: #ff1a56;
}

.book__buy {
	text-align: center;
	margin: 14px 0;
}

.book__buy a {
	border: 1px solid #26a9e0;
	border-radius: 2px;
	background: #26a9e0;
	padding: 5px 60px;
	font-size: 14px;
	color: #fff;
	text-decoration: none;
}

.book__buy a:hover {
	border: 1px solid #0094d2;
	border-radius: 2px;
	background: #0094d2;
}

.book_selected {
	border: 1px solid #0094d2;
	border-radius: 3px;
}

.slider {
	width: 802px;
	margin: 50px auto;
}

.slick-prev:before, .slick-next:before {
  color: #26a9e0;
  font-size: 40px;
}

.slick-prev {
	left: -46px;
  	width: 40px;
  	height: 40px;
}

.slick-next {
	right: -45px;
  	width: 40px;
  	height: 40px;
}

.slick-slide { 
	width: 260px;
	margin: 0 5px; 
}